{% for f in ferramenta %}
                        <div class="col-md-4">
                            <div class="card card-product">
                                <div class="card-image" data-header-animation="true">
                                    <a href="">
                                    {% if f.imagem %}
                                        <img class="img" src="{{ f.imagem.url }}">
                                    {% else %}
                                        <img class="img" src="{% static 'img/cover.jpeg' %}">
                                    {% endif %}
                                    </a>
                                </div>
                                <div class="card-content">
                                    <div class="card-actions">
                                        <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                            <i class="material-icons">build</i> Fix Header!
                                        </button>
                                        <button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="View">
                                            <i class="material-icons">art_track</i>
                                        </button>
                                        <button type="button" class="btn btn-success btn-simple" rel="tooltip" data-placement="bottom" title="Edit">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-simple" rel="tooltip" data-placement="bottom" title="Remove">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </div>
                                    <h4 class="card-title">
                                        <a href="#pablo"> {{f.nome|upper}}</a>
                                    </h4>
                                    <div class="card-description">
                                        {{f.descricao|linebreaks|slice:":100"}}
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="price">
                                        <h4>{{f.categoria}}</h4>
                                    </div>
                                    
                                </div>
                                    
                            </div>
                        </div>
                        {% endfor %}