{% extends "base.html" %}

{% block extra_js%}
<script type="text/javascript">
$(document).ready(function() {
        md.initSliders()
        demo.initFormExtendedDatetimepickers();



    $("#btn-termo-de-uso").click(function(ev) { // for each edit contact url
        ev.preventDefault(); // prevent navigation
        var url = $(this).data("url"); // get the contact form url
        
        $("#noticeModal").load(url, function() { // load the url into the modal  
          $('#modal1').modal('open');
        });
  });
  });
   
</script>

{%endblock%} 

{%load staticfiles%}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="col-md-1">                            
        </div>

        <div class="col-md-10">

                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="rose">
                                    <i class="material-icons">assignment</i>
                                </div>
                                <h4 class="card-title">Ferramentas Cadastradas</h4>
                                <div class="card-content">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    
                                                    <th>Nome</th>
                                                    
                                                    <th>Link de acesso</th>
                                                    <th class="text-left">Nível Professor</th>
                                                    <th class="text-left">Nível Aluno</th>
                                                    <th class="text-left">Ações</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for f in ferramentas %}
                                                <tr>
                                                    
                                                    <td>{{f.nome}}</td>
                                                    
                                                    <td>{{f.link_download}}</td>
                                                    <td class="text-left">{{f.nivel_professor}}</td>
                                                    <td class="text-left">{{f.nivel_aluno}}</td>
                                                    <td class="td-actions text-left">
                                                    
                                                                                                               
                                                       <a href="{% url 'avaliacao:detalhes-ferramenta' f.id %}">
                                                       <button type="button" rel="tooltip" class="btn btn-warning">ver </button>
                                          
                                                   
                                                        
                                                        <a href="{% url 'avaliacao:editar-ferramenta' f.id %}">
                                                        <button type="button" rel="tooltip" class="btn btn-success">
                                                            <i class="material-icons">edit</i>
                                                        </button>
                                                        </a>
                                                        <a href="{% url 'avaliacao:warning-ferramenta' f.id %}">
                                                        <button type="button" rel="tooltip" class="btn btn-danger">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                
                                                
                                                
                                                
                                            </tbody>
                                        </table>
                                    </div>
                               
        </div>
        </div> 
        <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
                                            <!-- end notice modal -->



      
    </div>
        <div class="col-md-1"> 
        <a  href="{% url 'avaliacao:listar-ferramenta' %}" class="btn btn-danger btn-fab btn-fab-mini" title="pagina inicial" >
            <i class="material-icons">home</i>
        </a>
        <p></p>                           
        <a  href="{% url 'avaliacao:adicionar-ferramenta' %}" class="btn btn-success btn-fab btn-fab-mini" title="pagina inicial" >
            <i class="material-icons">add</i>
        </a>
        <p></p>                           
        </div>
        <!-- notice modal -->
                                            <!-- end notice modal -->
    </div>
</div>
    
                







{% endblock %}